<h1>Welcome to database voituredb</h1>
<h2>Search Mode </h2>

<body>
    <form action="http://localhost:5000/result" method="post">
        <label>ID</label> : <input type="text" name="id" />
        <label>Mark</label> : <input type="text" name="mark" />
        <label>Model</label> : <input type="text" name="model" />
        <label>Max speed</label> : <input type="text" name="maxspeed" />
        <label>Consumption</label> : <input type="text" name="consumption" />
        <input type="submit" value="Search" />
    </form>
</body>

<nav2>
    <u1>
         <br />
        <li><a href="/"> Go back home</a></li>
    </u1>
</nav2>
